services:
  homebridge:
    image: homebridge/homebridge:latest
    pull_policy: always
    restart: unless-stopped
    network_mode: host
    volumes:
      # Mount Homebridge config directory
      - ./homebridge-config:/homebridge
    environment:
      - PGID=1000
      - PUID=1000
      - HOMEBRIDGE_CONFIG_UI=1
      - HOMEBRIDGE_CONFIG_UI_PORT=8581
      # Enable debug logging to see your temperature range updates
      - HOMEBRIDGE_DEBUG=1